<?xml version='1.0' encoding='utf-8'?>
<widget id="com.example.CalorieAi" version="1.0.0"
    xmlns="http://www.w3.org/ns/widgets"
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:cdv="http://cordova.apache.org/ns/1.0">

    <name>CalorieAi</name>
    <description>Sample Apache Cordova App</description>
    <author email="your-email@example.com" href="https://your-website.com">
        Your Name
    </author>

    <content src="index.html" />

    <!-- Android Specific Config -->
    <platform name="android">
        <config-file target="AndroidManifest.xml" parent="/*">
            <!-- Internet permission for API requests -->
            <uses-permission android:name="android.permission.INTERNET" />
            <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
        </config-file>
    </platform>

</widget>
